<div
	class="student student-interview-<%= interview._id %>"
	id="<%= company._id %>"
>
	<div class="form-group hide">
		<select class="form-select form-control" id="name" name="name" required>
			<% for(let student of students){ %>
			<option value="<%= student._id %>"><%= student.name %></option>
			<% } %>
		</select>
	</div>
	<div class="form-group hide">
		<select
			class="form-select form-control"
			id="result"
			name="result"
			required
		>
			<option value="pass">Pass</option>
			<option value="fail">Fail</option>
			<option value="on hold">On Hold</option>
			<option value="not attended">Not Attended</option>
			<option value="tbd">To Be Decided</option>
		</select>
	</div>
	<div class="fixed">
		<p>
			<strong>Name:&ensp;</strong><span><%= interview.student.name %></span>
		</p>
		<p>
			<strong>Status:&ensp;</strong
			><span><%= interview.student.result %></span>
		</p>
	</div>
	<button class="add-student-interview hide" data-id="<%= interview._id %>">
		Add Student&ensp;<i class="fa-solid fa-circle-plus"></i>
	</button>
	<button class="edit-student-interview" data-id="<%= interview._id %>">
		Edit&ensp;<i class="fa-solid fa-pen-to-square"></i>
	</button>
	<button class="delete-student-interview" data-id="<%= interview._id %>">
		Delete&ensp;<i class="fa-solid fa-trash"></i>
	</button>
</div>

<!-- Final Students List -->
<!-- Add student button - hide -->
<!-- form groups - hide -->
