<!-- Student Accordion -->
<div
	class="student-accordion-item accordion-item accordion-item-<%= student._id %>"
>
	<h2 class="accordion-header" id="student-heading-<%= student._id %>">
		<!-- Accordion Button -->
		<button
			class="accordion-button student-button d-block text-center"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#student-<%= student._id %>"
			aria-expanded="false"
			aria-controls="student-<%= student._id %>"
		>
			<!-- Student Name -->
			<%= student.name %> <%= student.gender === "male" ? "👦" : "👧" %>
		</button>
	</h2>
	<div
		id="student-<%= student._id %>"
		class="accordion-collapse collapse"
		aria-labelledby="student-heading-<%= student._id %>"
	>
		<!-- Accordion Body -->
		<div class="accordion-body">
			<img src="<%= student.avatar %>" alt="<%= student.name %>" />
			<div class="student-data">
				<!-- Student ID -->
				<p>
					<strong class="stud">ID:&ensp;</strong
					><span><%= student._id %></span>
				</p>
				<!-- Student Name -->
				<p>
					<strong class="stud">Name:&ensp;</strong
					><span><%= student.name %></span>
				</p>
				<!-- Student Age -->
				<p>
					<strong class="stud">Age:&ensp;</strong
					><span><%= student.age %></span>
				</p>
				<!-- Student Gender -->
				<p>
					<strong class="stud">Gender:&ensp;</strong
					><span><%= student.gender %></span>
				</p>
				<!-- Student College -->
				<p>
					<strong class="stud">College:&ensp;</strong
					><span><%= student.college %></span>
				</p>
				<!-- Student Batch -->
				<p>
					<strong class="stud">Batch:&ensp;</strong
					><span><%= student.batch.name %></span>
				</p>
				<!-- Student Status -->
				<p>
					<strong class="stud">Status:&ensp;</strong
					><span><%= student.status %></span>
				</p>
				<!-- Student Scores -->
				<% for(let score of student.scores){ %>
				<!-- Scores -->
				<% if(score.course.name==="data structures & algorithms"){ %>
				<p>
					<strong class="stud">DSA Score:&ensp;</strong
					><span><%= score.score %></span>
				</p>
				<% }else if(score.course.name==="react"){ %>
				<p>
					<strong class="stud">React Score:&ensp;</strong
					><span><%= score.score %></span>
				</p>
				<% }else if(score.course.name==="web development"){ %>
				<p>
					<strong class="stud">Web Development Score:&ensp;</strong
					><span><%= score.score %></span>
				</p>
				<% } %>
				<!-- Scores -->
				<% } %>
				<!-- Student Scores -->
			</div>
			<div class="student-interviews table-responsive">
				<!-- Student Interviews -->
				<table class="table table-warning table-hover caption-top">
					<caption>
						Interviews
					</caption>
					<thead class="table-dark">
						<tr>
							<th scope="col">Company</th>
							<th scope="col">Date</th>
							<th scope="col">Result</th>
						</tr>
					</thead>
					<!-- Table Data -->
					<tbody class="table-group-divider">
						<% for(let interview of student.interviews){ %>
						<tr id="<%= interview.company._id %>">
							<th scope="row"><%= interview.company.name %></th>
							<td>
								<%= new
								Date(interview.company.date).toLocaleDateString() %>
							</td>
							<td><%= interview.result.result %></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<!-- Delete Student -->
			<button class="delete-student-button" data-id="<%= student.id %>">
				Delete&ensp;<i class="fa-solid fa-trash"></i>
			</button>
		</div>
	</div>
</div>

<!-- -------------- -->
<!-- Variable Items -->
<!-- -------------- -->
<!-- id="student-heading-1" -->
<!-- data-bs-target="#student-1" -->
<!-- aria-controls="student-1" -->
<!-- id="student-1" -->
<!-- aria-labelledby="student-heading-1" -->
<!-- data-bs-parent="#students" -->
<!-- -------------- -->
